$brand-red: #87231f;
$bebas-font: "bebas_neueregular";

@font-face {
  font-family: "bebas_neueregular";
  src: url("../fonts/bebasneue-webfont.eot");
  src: url("../fonts/bebasneue-webfont.eot?#iefix") format("embedded-opentype"),
    url("../fonts/bebasneue-webfont.woff") format("woff"),
    url("../fonts/bebasneue-webfont.ttf") format("truetype"),
    url("../fonts/bebasneue-webfont.svg#bebas_neueregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

.container {
  background-color: rgba(255, 245, 228, 0.9);
  padding-left: 30px;
  padding-right: 30px;
}

h3 {
  color: $brand-red;
  text-transform: uppercase;
  font-family: $bebas-font;
  font-size: 27px;
}

header {
  display: flex;
  justify-content: space-between;

  .header-contact {
    text-align: right;
    font-family: "Century Gothic", Arial, San-serif;
    line-height: 32px;
    margin-top: 20px;
  }
  .brand a {
    background-color: transparent;
    background-image: url(../images/deliziosa_logo.png);
    background-position: left top;
    background-repeat: no-repeat;
    background-size: 378px 95px;
    display: block;
    height: 95px;
    width: 378px;
    text-indent: -999px;
    margin: 20px 0;
  }

  .hours {
    font-size: 20px;
  }

  .phone {
    font-size: 32px;
    font-weight: bold;
  }
  address {
    font-size: 16px;
    margin-bottom: 0 !important;
  }
}

.container.navbar {
  background-color: #d7ccb8;
  padding-top: 0;
  padding-bottom: 0;
  border-bottom: 2px solid $brand-red;
}

.navbar-wrapper .bg-light {
  background-color: #d7ccb8 !important;
  padding: 0;
}

.navbar-light .navbar-nav .nav-link {
  color: #333;
  padding: 10px 20px;
  text-transform: uppercase;
  font-size: 21px;
  font-family: $bebas-font;
  letter-spacing: 1px;
}

.navbar-light .navbar-nav .active > .nav-link {
  background-color: $brand-red;
  color: #fff;
}

.navbar-light .navbar-nav .nav-link:hover {
  background-color: $brand-red;
  color: #fff;
}

section.main-content.menu {
  h3 {
    margin: 20px 0 15px;
  }
  .note {
    font-size: 14px;
  }
}

section.main-content {
  padding-bottom: 60px;
  padding-top: 60px;
  h1 {
    text-transform: uppercase;
    color: $brand-red;
    font-size: 36px;
    margin-bottom: 20px;
    font-family: $bebas-font;
  }

  .tiles {
    display: flex;
    justify-content: space-between;
    padding: 20px 0 40px 0;

    a.tile {
      border: 2px solid #9b907e;
      background-color: #fff5e4;
      width: 30%;
      padding: 20px;
      text-decoration: none;
      color: #333;

      &:hover {
        background-color: #fff;
        border: 2px solid $brand-red;
        box-shadow: 0 0 5px #999;
      }

      p {
        margin-bottom: 0;
      }
    }
  }
}

.menu {
  .item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 7px;

    div {
      width: 50%;
    }
    .price {
      text-align: right;
    }
  }
}

.container.footer {
  background-color: #cfc5b9;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 40px;
}

footer {
  display: flex;
  justify-content: space-between;

  address {
    font-size: 14px;
    text-align: right;
  }

  .copyright {
    font-size: 14px;
  }
  .cc-logos {
    margin: 20px 0;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .navbar-wrapper .bg-light {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
  }
}

@media only screen and (max-width: 767px) {
  header {
    display: block;
    text-align: center;

    .header-contact {
      text-align: center;
      margin-top: 10px;
      padding-bottom: 20px;
    }
    .brand a {
      margin: 0 auto;
    }
  }

  .navbar-nav {
    margin: 20px 0 0;
  }

  .navbar-wrapper .bg-light {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
  }
  section.main-content {
    .tiles {
      display: block;

      a.tile {
        width: 100%;
        display: block;
        margin: 0 0 20px;
      }
    }
  }

  .container.footer {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  footer {
    display: block;
    text-align: center;

    address {
      text-align: center;
      margin-bottom: 0;
    }
    .cc-logos {
      margin: 10px 0;
    }
  }
}
